/* ------------------------------------
     COMMON STYLE
   ------------------------------------ */
#paragraph {
  min-height: 80px;
  color: #000;
}

#paragraph a {
  text-decoration: none;
  font-weight: normal;
  color: #181818;
}

.dropdown-menu .textcomplete-item a,
.dropdown-menu .textcomplete-item a:hover {
  cursor: pointer;
  font-weight: 600;
  color: #00000;
  font-size: 1.3em;
  position: relative;
  padding: 3px 10px;
}

.dropdown-menu .textcomplete-item.active a {
  color: #000000;
  background: #F3FF33;
}

/* Highlighting of the matching part 
   of each search result */
.dropdown-menu .textcomplete-item a em {
  font-style: normal;
  font-weight: bold;
}

.dropdown-menu .textcomplete-footer {
  border-top: solid 1px #F0F0F0;
  margin-top: 3px;
}


/* ------------------------------------
     Used in 
     autocomplete-with-pictures.html
   ------------------------------------ */
.dropdown-menu .textcomplete-item a {
  box-sizing: border-box;
  height: 42px;
}
